*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(../dark%20blue.jpg) no-repeat center;
	background-attachment: fixed;
	background-size: cover;
	font-family: sans-serif;
}

.all{
	/*border: 2px solid black;*/
	width: 1100px;
	min-height: 1000px;
	margin: auto;
}

.moving{
	color: white;
}

.header{
	width: 100%;
	height: 233px;
	/*border: 1px solid white;*/
}

.header img{
	width: 100%;
	height: 100%;
}

nav{
	position: absolute;
	z-index: 10;
	top: 254px;

}

nav ul {
	margin: 0;
	padding: 0;
	
}

nav ul li{
	width: 220px;
	float: left;
	list-style: none;
	text-align: center;
	background: -webkit-linear-gradient(blue, steelblue);

}

nav ul li a{
	text-decoration: none;
	color: white;
	display: block;
}

nav ul li a.active,
nav ul li a:hover{
	text-shadow: 2px 2px 2px black;
}

nav ul li ul{
	display: none;
	height: 25px;
	line-height: 25px;
}

nav ul li:hover ul{
	display: block;
}

nav ul li ul li .he{
	position: absolute;
	top: 18px;
	left: 441px;
	display: none;
}

nav ul li ul li:hover > .he{
	display: block;
}

nav ul li ul li .ict{
	position: absolute;
	top: 43px;
	left: 441px;
	display: none;
}

nav ul li ul li:hover > .ict{
	display: block;
}

nav ul li ul li .ia{
	position: absolute;
	top: 68px;
	left: 441px;
	display: none;
}

nav ul li ul li:hover > .ia{
	display: block;
}

/*
nav ul li ul li .shs{
	position: absolute;
	top: 68px;
	left: 315px;
	display: none;
}

nav ul li ul li:hover > .shs{
	display: block;
}*/

.content{
	width: 100%;
	height:1990px;
	/*border: 1px solid white;*/
	margin-top: 25px;
	background: url(../left.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.left{
	height: 100%;
	width: 74%;
	/*border: 1px solid white;*/
	float: left;
	
	
	
}

.left pre{
	font-size: 16px;

}

.right{
	height: 100%;
	width: 25%;
	/*border: 1px solid white;*/
	float: right;
	margin-right: 5px;
}

.right img{
	width: 100%;
	height: 100%;
}

.top{
	height: 30%;
	width: 100%;
	border: 1.5px solid black;
	margin-top: 5px;

}

.top #box1{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 90px;
	background: white;
}

.top #box2{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 10px;
	background: white;
}

.top #box3{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 10px;
	background: white;
}

.top #box4{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 10px;
	background: white;
}

.top #box1:hover{
	border: 2px solid blue;
}

.top #box2:hover{
	border: 2px solid blue;
}

.top #box3:hover{
	border: 2px solid blue;
}

.top #box4:hover{
	border: 2px solid blue;
}

.top div{
	padding: 1px;
	
}

.bot{
	height: 30%;
	width: 100%;
	border: 1.5px solid black;
	margin-top: 7%;
}

.bot #box1{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 90px;
	background: white;
}

.bot #box2{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 10px;
	background: white;
}

.bot #box3{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 10px;
	background: white;
}

.bot #box4{
	width: 90%;
	height: 15%;
	margin: auto;
	border: 1px solid white;
	margin-top: 10px;
	background: white;
}

.bot #box1:hover{
	border: 2px solid blue;
}

.bot #box2:hover{
	border: 2px solid blue;
}

.bot #box3:hover{
	border: 2px solid blue;
}

.bot #box4:hover{
	border: 2px solid blue;
}

.bot div{
	padding: 1px;
}
	

.footer{
	width: 100%;
	height: 100px;
	margin-top: 5px;
	border: 1px solid grey;
	background: url("../footerbg.jpg");
}

.footer img{
	width: 90px;
	height: 90px;
	position: relative;
	left: 15px;
	bottom: 100px;
}

.footer pre{
	color: white;
	font-size: 16px;
	margin-top: 10px;
}

.slidy{
	height: 400px;
	width: 97%;
	border: 5px solid black;
	overflow: hidden;
	margin: 5px auto;
}

.slidy figure{
	width: 500%;
	padding: 0px;
	margin: 0px;
	position: relative;
	animation: 20s slide infinite;
}

@keyframes slide{
	0%{
		left: 0%;
	}
	
	10%{
		left: 0%;
	}
	
	12%{
		left: -100%;
	}
	
	22%{
		left: -100%;
	}
	
	24%{
		left: -200%;
	}
	
	34%{
		left: -200%;
	}
	
	36%{
		left: -300%;
	}
	
	46%{
		left: -300%;
	}
	
	48%{
		left: -400%;
	}
	
	58%{
		left: -400%;
	}
	
	60%{
		left: -300%;
	}
	
	70%{
		left: -300%;
	}
	
	72%{
		left: -200%;
	}
	
	82%{
		left: -200%;
	}
	
	84%{
		left: -100%;
	}
	
	94%{
		left: -100%;
	}
	
	96%{
		left: 0%;
	}
	
	100%{
		left: 0%;
	}
}

.slidy div{
	float: left;
	width: 20%;
}

.slidy img{
	float: left;
	width: 100%;
	height: 100%;
}

.of1 img{
	height: 300px;
	width: 300px;
	float: left;
	margin: 10px;
	border: 2px solid steelblue;
}

.of1 p{
	font-size: 16px;
	margin-left: 40px;
	margin-right: 20px;
	text-indent: 5%;
	line-height: 20px;
}

.of2 img{
	height: 300px;
	width: 300px;
	float: right;
	margin: 10px;
	border: 2px solid steelblue;
}

.of2 p{
	font-size: 16px;
	margin-left: 40px;
	margin-right: 20px;
	text-indent: 5%;
	line-height: 20px;
}

.of3 img{
	height: 300px;
	width: 300px;
	float: left;
	margin: 10px;
	border: 2px solid steelblue;
}

.of3 p{
	font-size: 16px;
	margin-left: 40px;
	margin-right: 20px;
	text-indent: 5%;
	line-height: 20px;
}


